{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">

<div class="col-md-5">

<div class="card-ui p-4">

<h2 class="heading text-center mb-4">
Create Account
</h2>

<form method="POST">

<input class="form-control mb-3"
name="name"
placeholder="Full Name"
required>

<input class="form-control mb-3"
name="email"
placeholder="Email"
required>

<input class="form-control mb-3"
type="password"
name="password"
placeholder="Password"
required>

<button class="btn btn-main w-100">
Register
</button>

</form>

<p class="text-center mt-3 subtext">
Already registered?
<a href="/login">Login</a>
</p>

</div>

</div>

</div>

{% endblock %}